<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MonitoringAssistant_ZN.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18791C8F2008BBB000A2E282</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18791CA32008BBB100A2E282</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18791CAE2008BBB100A2E282</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
